<a href="https://colab.research.google.com/github/chandini2595/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
#Creating Dataframe
import pandas as pd
#Dataset
data={'student':['Amit','John','Dan'],
      'rank':[1,2,3],
      'marks':[100,200,300]
      }
df=pd.DataFrame(data)
print(df)

  student  rank  marks
0    Amit     1    100
1    John     2    200
2     Dan     3    300

In [25]:
#Naming Indexes
df=pd.DataFrame(data,index=['a','b','c'])
print(df)

  student  rank  marks
a    Amit     1    100
b    John     2    200
c     Dan     3    300

In [11]:
#Accessing values
df.loc['a']['rank']

1

In [31]:
#Access rows/cols by integer positions

df.iloc[[0,1,2]] #rows
df.iloc[1][2] #cols

<ipython-input-31-f234e6cea55f>:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[1][2] #cols

200

In [29]:
#Iterate Pandas by displaying column names
for col in df:
  print(col)
print(df.columns)

student
rank
marks
Index(['student', 'rank', 'marks'], dtype='object')

In [44]:
data={'Student':['A','B','C'],
      'Marks':[100,200,200]}
df=pd.DataFrame(data,index=[1,2,3])
print(df)
print(df.dtypes)
print(df.ndim)
print(df.shape)
print(df.size)
print(df.index)
print(df.T)
print(df.head(2))
print(df.tail(2))

  Student  Marks
1       A    100
2       B    200
3       C    200
Student    object
Marks       int64
dtype: object
2
(3, 2)
6
Index([1, 2, 3], dtype='int64')
           1    2    3
Student    A    B    C
Marks    100  200  200
  Student  Marks
1       A    100
2       B    200
  Student  Marks
2       B    200
3       C    200

In [45]:
data1={'Student':['A','B','C','D','E'],
       'Marks':[100,200,300,400,500]}
data2={'Location':['CA','OH','TX','FL','NY']}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1.join(df2))

  Student  Marks Location
0       A    100       CA
1       B    200       OH
2       C    300       TX
3       D    400       FL
4       E    500       NY

In [49]:
print(pd.concat([df1,df2]))

  Student  Marks Location
0       A  100.0      NaN
1       B  200.0      NaN
2       C  300.0      NaN
3       D  400.0      NaN
4       E  500.0      NaN
0     NaN    NaN       CA
1     NaN    NaN       OH
2     NaN    NaN       TX
3     NaN    NaN       FL
4     NaN    NaN       NY

#Series

In [71]:
import numpy as np
data=[1,2,3,4,5,np.nan]
s=pd.Series(data,index=['a','b','c','d','e','f'])
print(s)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
dtype: float64

In [57]:
print('Value :',s[2])

Value : 3

<ipython-input-57-034e1aec9b76>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Value :',s[2])

In [58]:
s.loc['a']

1

In [59]:
s.iloc[2]

3

In [72]:
print(s.dtype)
print(s.size)
print(s.ndim)
print(s.name)
print(s.hasnans)
print(s.index)
print(s.head(2))
print(s.tail(2))
print(s.info())

float64
6
1
None
True
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
a    1.0
b    2.0
dtype: float64
e    5.0
f    NaN
dtype: float64
<class 'pandas.core.series.Series'>
Index: 6 entries, a to f
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      float64
dtypes: float64(1)
memory usage: 96.0+ bytes
None

In [78]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([6,7,8,9,10])
def demo(x1,x2):
  if(x1>x2):
    return x1
  else:
    return x2
print(s1.combine(s2,demo))

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [94]:
s=pd.Series(data=[1,2,1,2,3],dtype='category')
s=s.cat.add_categories(5)
print(s)

0    1
1    2
2    1
3    2
4    3
dtype: category
Categories (4, int64): [1, 2, 3, 5]

In [99]:
df=pd.read_csv('/content/Student.csv')
print(df)
print(df.head(3))
print(df.tail(3))

  Student  Rank  Marks
0    Amit     1    100
1   Vijay     2     90
2    Kohl     3     80
3   Dhoni     4     70
4  Amaira     5     60
  Student  Rank  Marks
0    Amit     1    100
1   Vijay     2     90
2    Kohl     3     80
  Student  Rank  Marks
2    Kohl     3     80
3   Dhoni     4     70
4  Amaira     5     60

In [111]:
#res=df['Student','Marks']
df1=(df[df.columns[1:3]])
print(df1)
print(df.columns)

   Rank  Marks
0     1    100
1     2     90
2     3     80
3     4     70
4     5     60
Index(['Student', 'Rank', 'Marks'], dtype='object')

In [112]:
df.insert(1,'Section',['a','b','c','d','e'])
print(df)

  Student Section  Rank  Marks
0    Amit       a     1    100
1   Vijay       b     2     90
2    Kohl       c     3     80
3   Dhoni       d     4     70
4  Amaira       e     5     60

In [114]:
df2=df.assign(rollno=[101,102,103,104,105])
print(df2)

  Student Section  Rank  Marks  rollno
0    Amit       a     1    100     101
1   Vijay       b     2     90     102
2    Kohl       c     3     80     103
3   Dhoni       d     4     70     104
4  Amaira       e     5     60     105

In [120]:
df2=df2.drop(columns=['Section'])
print(df2)
df2=df2.drop(labels=[3,4],axis=0)
print(df2)

  Student  Rank  Marks  rollno
0    Amit     1    100     101
1   Vijay     2     90     102
2    Kohl     3     80     103
3   Dhoni     4     70     104
4  Amaira     5     60     105
  Student  Rank  Marks  rollno
0    Amit     1    100     101
1   Vijay     2     90     102
2    Kohl     3     80     103

In [122]:
df2=df2.sort_values(by='Marks',ascending=True)
print(df2)

  Student  Rank  Marks  rollno
2    Kohl     3     80     103
1   Vijay     2     90     102
0    Amit     1    100     101

In [129]:
# prompt: add a row to df2

df2.loc[len(df2.index)] = ['Fork',4, 100, 106]
print(df2.duplicated())

2    False
1    False
0    False
3    False
4     True
5     True
dtype: bool

In [135]:
df3=(df2.drop_duplicates())
print(df3)

  Student  Rank  Marks  rollno
2    Kohl     3     80     103
1   Vijay     2     90     102
0    Amit     1    100     101
3    Fork     4    100     106

#Clean the data

In [143]:
df=pd.read_excel('/content/Untitled spreadsheet.xlsx')
print(df)

   Frequency  Points
0       2.40   34.30
1       3.20   23.60
2       6.10     NaN
3       1.30   56.30
4      90.00     NaN
5       0.12     NaN
6        NaN    0.32

In [144]:
df1=df.fillna(111)
print(df1)

   Frequency  Points
0       2.40   34.30
1       3.20   23.60
2       6.10  111.00
3       1.30   56.30
4      90.00  111.00
5       0.12  111.00
6     111.00    0.32

In [142]:
df1=df.dropna()
print(df1)

   Frequency  Points
0        2.4    34.3
1        3.2    23.6
3        1.3    56.3